   /* Global reset */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family:sans-serif;
}
    body {
      background: #f6f7fb;     
      color: #222;
      line-height: 1.6;
      font-family:sans-serif;
    }

    nav {
      display: grid;
      grid-template-columns: 1fr auto;
      background-color: black;
      overflow-x: hidden;
      align-items: center;
    }
    
    nav ul {
      display: flex;
      margin: 50px 0 20px 0;
    }
    
    nav ul li {
      margin-right: 90px;
    }
    
    img.logo {
      width: 200px;
    }
    
    nav ul li a {
      color: #EC9524;
      text-transform: uppercase;
    }
    
    /* --- TOGGLE BUTTON --- */
    .menu-btn {
      display: none;
      font-size: 30px;
      background: none;
      border: none;
      color: #EC9524;
      cursor: pointer;
    }
    
    /* ------- MOBILE / TABLET ------- */
    @media (max-width: 900px) {
      nav {
        grid-template-columns: 1fr auto;
      }
    
      .menu-btn {
        display: block;
        margin-right: 20px;
      }
    
      nav ul {
        position: absolute;
        top: 80px;
        right: 0;
        background: black;
        flex-direction: column;
        width: 200px;
        padding: 20px;
        display: none;
      }
    
      nav ul li {
        margin: 15px 0;
      }
    
      nav ul.show {
        display: block;
      }
    }
    

    .container {
      max-width: 900px;
      margin: auto;
      background: #fff;
      padding: 28px;
      border-radius: 14px;
      box-shadow: 0 20px 35px rgba(0,0,0,0.06);
    }

    h1 {
      margin-top: 0;
      font-size: 32px;
      color: #603600;
    }

    .price-box {
      background: #603600;
      color: #fff;
      padding: 18px;
      border-radius: 12px;
      margin: 20px 0;
    }

    .benefits {
      margin: 18px 0;
    }

    .benefits li {
      margin: 10px 0;
    }

    .note {
      background: #fff9e6;
      border: 1px solid #ffdd99;
      padding: 14px;
      border-radius: 10px;
      margin-top: 16px;
    }

    .cta {
      display: inline-block;
      margin-top: 22px;
      padding: 12px 20px;
      border-radius: 10px;
      background: #603600;
      color: #fff;
      text-decoration: none;
      font-weight: bold;
    }

    .cta:hover {
      background: #603600;
    }

    .non-members {
      margin-top: 26px;
      border-top: 1px solid #eee;
      padding-top: 20px;
    }
    footer{
      background-color: #603600;
      padding: 20px 0 0 0;
      margin-top: 20px;
    }
    .address{
      color:rgb(255, 255, 255);
      font-weight:lighter;
      line-height: 30px;
      padding: 0 0 20px 50px;
    }
    .address a{
      color:rgb(255, 255, 255);
      font-weight: lighter;
    }
    footer p{
      color: rgb(255, 255, 255);
      background-color: rgb(0, 0, 0);
      padding: 5px 0 5px 0;
      font-weight:lighter;
      text-align: center;
    }
    
