/* Global reset */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family:sans-serif;
}

body{
  margin: 0;
  overflow-x: hidden;
}

nav {
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: black;
  overflow-x: hidden;
  align-items: center;
}

nav ul {
  display: flex;
  margin: 50px 0 20px 0;
}

nav ul li {
  margin-right: 90px;
}

img.logo {
  width: 200px;
}

nav ul li a {
  color: #EC9524;
  text-transform: uppercase;
}

/* --- TOGGLE BUTTON --- */
.menu-btn {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  color: #EC9524;
  cursor: pointer;
}

/* ------- MOBILE / TABLET ------- */
@media (max-width: 900px) {
  nav {
    grid-template-columns: 1fr auto;
  }

  .menu-btn {
    display: block;
    margin-right: 20px;
  }

  nav ul {
    position: absolute;
    top: 80px;
    right: 0;
    background: black;
    flex-direction: column;
    width: 200px;
    padding: 20px;
    display: none;
  }

  nav ul li {
    margin: 15px 0;
  }

  nav ul.show {
    display: block;
  }
}


h1
{
  font-size: 100px;
  font-weight: bolder;
  text-transform: uppercase;
  color: #603600;
}
.services{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
  margin-top: 20px;
}

.services-content{
  width:400px;
  height:250px;
  text-align: center;
  overflow: hidden;
}

h2{
 text-transform: uppercase;
 font-size: 20px;
 padding: 15px 0;
 color: #603600;
 text-align: center;
 margin-top: 40px;
}

.services-content p{
  font-weight: lighter;
  font-size: 16px;
  padding: 0 20px;
  color: #603600;
}

footer{
  background-color: #603600;
  padding: 20px 0 0 0;
  margin-top: 20px;
}
.address{
  color:rgb(255, 255, 255);
  font-weight:lighter;
  line-height: 30px;
  padding: 0 0 20px 50px;
}
.address a{
  color:rgb(255, 255, 255);
  font-weight: lighter;
}
footer p{
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  padding: 5px 0 5px 0;
  font-weight:lighter;
  text-align: center;
}
@media (max-width: 768px){
  h1
 {
  font-size: 50px;
 }
 .header{
   height:200px;
  }
  .services{
    display: grid;
  }
}